<section id="main">
    <h1 class="welcome">Welcome to CSE Motors</h1>
    <%- messages() %>
    <section class="hero">
    <div class="hero-image"> 
        <div class="hero-overlay">
            <h2>DMC Delorean</h2>
            <p>3 cup holders</p>
            <p>Superman Doors</p>
            <p>Fuzzy Dice!</p>
            <button>Get Started</button>
        </div>
    </div>
    </section>
    <div class="upgrades-container-wrapper">
        <section class="upgrades1">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades-container">
                <div class="upgrade1">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy" width="150" height="150"><br>
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="upgrade1">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" width="150" height="150"><br>
                    <a href="#">Flame Decals</a>
                </div>
                <div class="upgrade1">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" loading="lazy" width="150" height="150"><br>
                    <a href="#">Bumper Sticker</a>
                </div>
                <div class="upgrade1">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" loading="lazy" width="150" height="150"><br>
                    <a href="#">Hub Caps</a>
                </div>
            </div>
        </section>
    
        <div class="upgrade-review">
            <h2>Delorean Reviews</h2>
            <ul> 
                <li>"So fast it's like travelling in time" (4/5)</li>
                <li>"Coolest ride on the road" (4/5)</li>
                <li>"I'm feeling McFly" (5/5)</li>
                <li>"The most futuristic ride of our day" (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </div>
    
    
</section>