<div class="inventory-page-container">
    <div class="inventory-form-container">
      <%- messages() %>
      <h1>Inventory Management</h1>
      <div class="inventory-management-links">
        <a href="/inv/add-classification">Add New Classification</a>
        <a href="/inv/add-inventory">Add New Inventory Item</a>
      </div>
    </div>
  </div>